<div>
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="onUpload()">Upload</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 <!-- ID Column -->
 <ng-container matColumnDef="sno">
  <th mat-header-cell *matHeaderCellDef>S No</th>
  <td mat-cell *matCellDef="let row">{{ row.sno }}</td>
</ng-container>
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef>Name</th>
  <td mat-cell *matCellDef="let row">{{ row.name }}</td>
</ng-container>
  <!-- ID Column -->
  <ng-container matColumnDef="empid">
    <th mat-header-cell *matHeaderCellDef>empid</th>
    <td mat-cell *matCellDef="let row">{{ row.empid }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="emptype">
    <th mat-header-cell *matHeaderCellDef>emp type</th>
    <td mat-cell *matCellDef="let row">{{ row.emptype }}</td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="mode">
    <th mat-header-cell *matHeaderCellDef>mode</th>
    <td mat-cell *matCellDef="let row">{{ row.mode }}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>date</th>
    <td mat-cell *matCellDef="let row">{{ row.date }}</td>
  </ng-container>
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>time</th>
    <td mat-cell *matCellDef="let row">{{ row.time }}</td>
  </ng-container>
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>location</th>
    <td mat-cell *matCellDef="let row">{{ row.location }}</td>
  </ng-container>
  <ng-container matColumnDef="locationcode">
    <th mat-header-cell *matHeaderCellDef>locationcode</th>
    <td mat-cell *matCellDef="let row">{{ row.locationcode }}</td>
  </ng-container>
  <ng-container matColumnDef="locationname">
    <th mat-header-cell *matHeaderCellDef>locationname</th>
    <td mat-cell *matCellDef="let row">{{ row.locationname }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>